body {
  background: url("../background.jpg") no-repeat center top;
  background-size: cover;
}

.cool {
  text-align: center;
  margin: auto;
}

/* NAVIGATION */
.nav.tab-nav {
    display: flex;
    justify-content: center;
    flex-direction: row;
}
ul {
  list-style-type: none;
}

li {
  display: inline-block;
}
a {
  display: block;
}

.tab-nav-item.active {
  background-color:  Pink;
  color: #ff69b4;
}
.tab-nav-item:hover {
  border-color: Black;
  background-color: #ccffff;
  color: Cyan;
}

.tab-nav-item.list-group-item:first-child {
  border-top-right-radius: 0px;
}
.tab-nav-item.list-group-item:last-child {
  margin-bottom: -1px;
  border-top-right-radius: .25rem;
  border-bottom-right-radius: 0px;
  border-bottom-left-radius: 0px;
}
.tab-nav-item {
  display: inline-block;
  width: 12%;
  text-align: center;
  border-style: none;
}
.tab-nav-item a {
  font-size: 15px;
  text-align: center;
  border-width: medium;
}
a {
 text-decoration: none;
 display: block;
 width: 100%;
 height: 100%;
}
.tab-nav-link.active {
  background-color:  Pink;
  color: #ff69b4;
  border-color: Gray;
  border-width: thin;
}

/* TABS */
.tab-title {
  color: Black;
}
.tab-container {
  background: url("../csulb_pyramid.jpg") no-repeat center top;
  padding: 15px 35px 15px 35px;
}

.btn.form-control {
  outline: none;
  background-color: transparent;
  color: Gray;
}

/* ANNOUNCEMENTS */
.anncmnt {
  color: DarkGray;
  display: inline-block;
}
.anncmnt-item {
  display: inline;
}
.anncmnt-add-btn {

}

.anncmnt-form {
  text-align: center;
}
#anncmnt-input {
  text-align: center;
}
#del-anncmnt-btn {
  align: right;
}

/* MAPS */
.campus-map-img {
  width: 100%;
}
.venue-map-img {
  width: 100%;
}

.map-nav-item {
  display: inline-block;
}
.map-nav-item.active {
  background-color:  Pink;
  color: #ff69b4;
}
.map-nav-item:hover {
  border-color: Black;
  background-color: LightGray;
  color: Cyan;
}

/* MENTOR */
/* Admin */
.mentor {
  color: DarkGray;
  display: inline-block;
}

.availability-btn {
  margin: 10px 20px;
  width: 40%;
}
.delete-mentor-btn {
  margin: 10px;
}

/* General User */
#mentor-req-table-form {
  float: right;
}
