<!-- SCHEDULE -->
<!-- Shows this tab if the tabNav custom directive in app.js this.tab === 2 -->
<div class="schedule-tab" ng-show="panel.isSelected(2)">

  <h1 class="tab-title">Schedule</h1>
  <div ng-show="site.loggedIn">
    <div class="box-message">
        <div class="row">
            <!--<input type="file" id="file" name="file"/>-->
            <input type="file" id="file" file-model="myFile"/>
            <button ng-click="scheduleTab.uploadFile()" type="submit">Upload New Schedule</button>
            <!--<a href="{{jsonUrl}}" download="schedule.json">Download Current Schedule</a>-->
        </div>
    </div>
  </div>

  <div ng-hide="site.loggedIn">
  <ul class="timeline timeline-centered" ng-repeat="(day,times) in schedule">
      <li class="timeline-item period">
          <div class="timeline-info"></div>
          <div class="timeline-marker"></div>
          <div class="timeline-content">
              <h2 class="timeline-title">{{day}}</h2>
          </div>
      </li>
      <li class="timeline-item" ng-repeat="(time,event) in times">
          <div class="timeline-info">
              <span>{{time}}</span>
          </div>
          <div class="timeline-marker"></div>
          <div class="timeline-content">
              <h3 class="timeline-title">{{event.title}}</h3>
              <p>{{event.description}}</p>
          </div>
      </li>
  </ul>
</div>
</div>
