<!-- SCHEDULE -->
<div ng-show="panel.isSelected(1)">

  <h1 class="tab-title">Schedule</h1>

  <ul class="timeline timeline-centered" ng-repeat="(day,times) in schedule">
      <li class="timeline-item period">
          <div class="timeline-info"></div>
          <div class="timeline-marker"></div>
          <div class="timeline-content">
              <h2 class="timeline-title">{{day}}</h2>
          </div>
      </li>
      <li class="timeline-item" ng-repeat="(time,event) in times">
          <div class="timeline-info">
              <span>{{time}}</span>
          </div>
          <div class="timeline-marker"></div>
          <div class="timeline-content">
              <h3 class="timeline-title">{{event.title}}</h3>
              <p>{{event.description}}</p>
          </div>
      </li>
  </ul>
</div>
