<!-- Song Request -->
<!-- Shows this tab if the tabNav custom directive in app.js this.tab === 5 -->
<div ng-show="panel.isSelected(5)">

  <h1 class="tab-title">Song Request</h1>

  <ul class="list-group">
    <!--Repeat for each in array-->
    <li class="list-group-item">
      <form ng-submit="">
        <input class="form-control" id="song-request-form" placeholder="Enter a song request" ng-model="songsTab.songRequest">
        <button class="btn form-control" type="submit" id="song-request-btn" ng-click="songsTab.postSongRequestToSlack()">Request</button>
      </form>
    </li>
  </ul>
</div>
