<!DOCTYPE html>
<html ng-app="site">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->

    <title>Beach Hacks Live</title>

    <!--Bootstrap-->
    <link rel="stylesheet" type="text/css" href="css/bootstrap.min.css" />
    <!-- CSS -->
    <link rel="stylesheet" href="css/styles.css">

    <link rel="manifest" href="/manifest.json">
  </head>

  <body ng-controller="LiveSiteController as site">

    <!-- LOGIN -->
    <div class="col-sm-3">
      <!-- Not logged in -->
      <div ng-hide="site.loggedIn">
        <!-- Open Login -->
        <div ng-hide="site.showLogin">
          <button class="btn" type="submit" ng-click="site.openLogin()">Login</button>
        </div>
        <!-- Enter login -->
        <div ng-show="site.showLogin">
          <fieldset class="form-group">
            <input class="form-control" type="text" placeholder="Enter password" ng-model="site.enteredKey">
            <button class="btn" type="submit" ng-click="site.validateLogin()">Submit</button>
            <!-- Cancel -->
            <button class="btn" type="submit" ng-click="site.cancelLogin()">Cancel</button>
          </fieldset>
        </div>
      </div>

      <!-- Logged in -->
      <div ng-show="site.loggedIn">
        <button class="btn" type="submit" ng-click="site.logOut()">Log out</button>
      </div>
    </div>

    <div>
      <!-- TAB NAVBAR -->
      <section class="list-group-item">
        <tab-nav></tab-nav>
      </section>

      <general-user-view ng-hide="site.loggedIn"></general-user-view>

      <admin-view ng-show="site.loggedIn"></admin-view>

      <div class="hidden-login">
        <button class="btn" type="button" ng-click="site.openLogin()"></button>
      </div>

    </div>



    <!-- Bootstrap -->
    <script type="text/javascript" src="js/bootstrap.min.js"></script>
    <!-- JQuery -->
    <script type="text/javascript" src="js/jquery.js"></script>
    <!-- AngularJS -->
    <script type="text/javascript" src="js/angular.min.js"></script>
    <!-- Firebase -->
    <script type="text/javascript" src="js/firebase.js"></script>
    <!-- AngularFire -->
    <script type="text/javascript" src="js/angularfire.min.js"></script>

    <!-- app.js -->
    <script type="text/javascript" src="js/app.js"></script>
    <!-- admin-announcements -->
    <script type="text/javascript" src="js/admin-announcements.js"></script>
    <!-- admin-schedule -->
    <script type="text/javascript" src="js/admin-schedule.js"></script>

  </body>
</html>
