<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->

    <!--Bootstrap-->
    <link rel="stylesheet" type="text/css" href="css/bootstrap.min.css">
    <link href="css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href='https://fonts.googleapis.com/css?family=Lora:400,700,400italic,700italic' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800' rel='stylesheet' type='text/css'>

    <!-- Custom styles for this template -->
    <link href="css/clean-blog.min.css" rel="stylesheet">
    <link href="css/style.css" rel="stylesheet">

    <!-- CSS -->
    <link rel="stylesheet" href="css/styles.css">

    <link rel="manifest" href="/manifest.json">
  </head>

  <body ng-app="site" ng-controller="LoginController as site" style="background: url('../background.jpg') no-repeat center top;
  background-size: cover;">

    <!-- Page Header -->
    <header class="masthead" style="background-image: url('img/main.jpg')">
      <div class="overlay"></div>
      <div class="container">
        <div class="row">
          <div class="col-lg-8 col-md-10 mx-auto">
            <div class="site-heading">
              <h1>BeachHacks</h1>
              <span class="subheading">April 21-22, 2018</span>
            </div>
          </div>
        </div>
      </div>
    </header>
    <!-- LOGIN -->
    <div class="col-sm-3">
      <!-- Not logged in -->
      <div ng-hide="site.loggedIn">
        <!-- Open Login -->
        <div ng-hide="site.showLogin">
          <button class="btn" type="submit" ng-click="site.openLogin()">Login</button>
        </div>
        <!-- Enter login -->
        <div ng-show="site.showLogin">
          <fieldset class="form-group">
            <input class="form-control" type="text" placeholder="Enter password" ng-model="site.enteredKey">
            <button class="btn" type="submit" ng-click="site.validateLogin()">Submit</button>
            <!-- Cancel -->
            <button class="btn" type="submit" ng-click="site.cancelLogin()">Cancel</button>
          </fieldset>
        </div>
      </div>

      <!-- Logged in -->
      <div ng-show="site.loggedIn">
        <button class="btn" type="submit" ng-click="site.logOut()">Log out</button>
      </div>
    </div>

    <!-- Custom Directives included in html/ folder -->
    <!-- TAB NAVBAR -->
    <section>
      <tab-nav></tab-nav>
    </section>
    <div>
      <!-- TABS -->
      <section class="list-group-item tab-container">
        <!-- ANNOUNCEMENTS -->
        <announcement-tab></announcement-tab>
        <!-- SCHEDULE -->
        <schedule-tab></schedule-tab>
        <!-- Map -->
        <maps-tab></maps-tab>
        <!-- MENTORS -->
        <mentors-tab></mentors-tab>
        <!-- SONGS -->
        <songs-tab></songs-tab>
      </section>
    </div>

    <!-- Bootstrap -->
    <script type="text/javascript" src="js/bootstrap.min.js"></script>
    <!-- JQuery -->
    <script type="text/javascript" src="js/jquery.js"></script>
    <!-- AngularJS -->
    <script type="text/javascript" src="js/angular.min.js"></script>
    <!-- Firebase -->
    <script type="text/javascript" src="js/firebase.js"></script>
    <!-- AngularFire -->
    <script type="text/javascript" src="js/angularfire.min.js"></script>

    <!-- app.js -->
    <script type="text/javascript" src="js/app.js"></script>

    <!-- Footer -->
    <footer>
      <div class="container">
        <div class="row">
          <div class="col-lg-8 col-md-10 mx-auto">
            <ul class="list-inline text-center">
              <li class="list-inline-item">
                <a href="#">
                  <span class="fa-stack fa-lg">
                    <i class="fa fa-circle fa-stack-2x"></i>
                    <i class="fa fa-twitter fa-stack-1x fa-inverse"></i>
                  </span>
                </a>
              </li>
              <li class="list-inline-item">
                <a href="#">
                  <span class="fa-stack fa-lg">
                    <i class="fa fa-circle fa-stack-2x"></i>
                    <i class="fa fa-facebook fa-stack-1x fa-inverse"></i>
                  </span>
                </a>
              </li>
              <li class="list-inline-item">
                <a href="#">
                  <span class="fa-stack fa-lg">
                    <i class="fa fa-circle fa-stack-2x"></i>
                    <i class="fa fa-github fa-stack-1x fa-inverse"></i>
                  </span>
                </a>
              </li>
            </ul>
            <p class="copyright text-muted">Copyright &copy; Your Website 2017</p>
          </div>
        </div>
      </div>
    </footer>
  </body>
</html>
